.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 25rem;
  background-color: $whiteColor;
  &__nav-list {
    display: flex;
    flex-direction: column;
  }
  &__nav-item {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.5rem;
    transition: 0.4s;
    &:hover > .sidebar__nav-link {
      background-color: $navItemBg;
      border-radius: 16px;
      .sidebar__nav-icon {
        fill: $hoverColor;
      }
    }
    ::after {
      display: none;
      content: url(../images/decoration-stick.svg);
      padding-left: 3rem;
    }
  }
  &__nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1.5rem;
    color: $textColor;
    &:active {
      color: $textColor;
    }
  }
  &__nav-icon {
    fill: $iconColor;
    padding: 0 1.7rem;
  }
}
.dropdown {
  &:hover .dropdown-nav {
    display: block;
    padding: 2rem 7.2rem;
  }
  &-nav {
    display: none;
  }
  &-item {
    padding: 2rem 0;
    &:hover .dropdown-link {
      color: $hoverColor;
    }
  }
  &-link {
    text-decoration: none;
    color: $textColor;
    &:active {
      color: $textColor;
    }
  }
}
.hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.burger {
  position: relative;
  width: 2.5rem;
  height: 2.6rem;
  &::before,
  & span,
  &::after {
    position: absolute;
    right: 0;
    left: -1rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    background: black;
  }
  &:before,
  &:after {
    content: "";
  }
  &::before {
    top: 0;
  }
  & span {
    top: 0.8rem;
  }
  &:after {
    bottom: 0.6rem;
  }
}
#burger:checked + .burger:before {
  transition: transform 0.3s ease-in;
  transform: rotate(45deg);
  top: 1.4rem;
}
#burger:checked + .burger span {
  opacity: 0;
}
#burger:checked + .burger:after {
  transition: transform 0.3s easy in;
  transform: rotate(-45deg);
  bottom: 0.8rem;
}
#burger:checked ~ .sidebar__nav-list {
  transition: opacity 0.3s ease-in;
  opacity: 1;
  visibility: visible;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
}
@media screen and (max-width: 767px) {
  .sidebar {
    display: inline-block;
    background-color: transparent;
    height: auto;
    max-width: none;
    width: 100%;
    background-color: $whiteColor;
  }
  .logo-image {
    width: 100%;
    max-width: 15rem;
  }
}
#burger:checked ~ .sidebar__nav-list{
  
}