@import "variablies.scss";
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-color: $bgColor;
}
.wrapper {
  display: flex;
}
@import "sidebar.scss";
@import "footer-content.scss";
@import "profile-card.scss";