$fontsFamily: "Roboto", sans-serif;
$bgColor: #fafbff;
$whiteColor: #ffffff;
$textColor: #07074d;
$navItemBg: rgba(119, 84, 240, 0.06);
$hoverColor: #8264f5;
$iconColor: #8d93b1;
$borderColor: #ccc;
$bgTextColor: #f6f6f6;
$bgButtonGreen: #11bb9c;
$bgButtonGray: #a6a6a6;
$inputColor: rgba(0, 0, 0, 0.6);
$boxShadow: 0 4px 4px rgb(0 0 0 / 14%);
